<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/base.css"/>
    <link rel="stylesheet" href="../../styles/grid/grid-05.css" class="">
</head>
<body>
    <div class="container">
        <div class="header">Header</div>
        <div class="menu">Menu</div>
        <div class="content">
           <h1> Notes</h1>
           <p>
               This is basically the grid 4? but using grid-template-area. By setting this up, we havea  mockup of what we want the grid to look like.
               <br/>
               Just take note of the auto-columns and rows. PLUS, even though we set the template area, we should still set the template rows/columns for the <br>
               distribution of space.
           </p>
        </div>
        <div class="footer">Footer</div>
    </div>
</body>
</html>