<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid 2</title>
    <link rel="stylesheet" href="../../styles/grid/grid-01.css" class="">
</head>

<body>
    <section>
        <h1> Implicit Grid Items and Auto props.</h1>
        <ul>
            <li>Just used basic grid-template-* to set properties explicitly.</li>
            <li>Used start or end to position the  items based on the grid lines</li>
        </ul>
    </section>
    <section class= "container">
        <div class="header"> Header </div>
        <div class="start-bar"> Start bar</div>
        <div class="content"> Content</div>
        <div class="end-bar"> End bar</div>
        <div class="footer"> Footer </div>
        <div class="item">1</div>
        <div class="item">2</div>
        <div class="item">3</div>
        <div class="item">4</div>
        <div class="item">5</div>
        <div class="large">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </section>
</body>
</html>