<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grid 03</title>
    <link rel="stylesheet" href="../../styles/base.css"/>
    <link rel="stylesheet" href="../../styles/grid/grid-03.css" class="">
</head>
<body>
    <section class="container main">
        <div class="item header">Header</div>
        <div class="item side-bar">Side bar</div>
        <div class="item content">
            <h1>
                take notes:
            </h1>
            <ul>
                <li class="">I was having hard time figuring out why my template defined is 3 rows but it grid generates 4th,<br>
                The reason for this is because, I put the footer to start at the first Grid line, but since the side bar has to end at the<br>
                end-grid ( which is the third row grid), grid then generates another row so that the condition will be met for the footer.
                </li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
        <div class="item footer">Footer</div>
    </section>
</body>
</html>