<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../styles/base.css"/>
    <link rel="stylesheet" href="../../styles/grid/grid-07.css"/>
</head>
<body>
    <div class="container">
        <div class="header"></div>
        <div class="menu"></div>
        <div class="content wrapper">
            <h1> Will skip this for now since I cant understand the flow here.</h1>
            <div>
                <img src="../../images/photo1.png" alt="" class="">
            </div>
            <div>
                <img src="../../images/photo2.png" alt="" class="">
            </div>
            <div>
                <img src="../../images/photo3.png" alt="" class="">
            </div>
            <div>
                <img src="../../images/photo4.png" alt="" class="">
            </div>
            <div><img src="../../images/avatar.png" alt="" class=""></div>
            <div><img src="../../images/avatar2.png" alt="" class=""></div>
            <div><img src="../../images/avatar3.png" alt="" class=""></div>
            <div><img src="../../images/avatar4.png" alt="" class=""></div>
            <div><img src="../../images/avatar5.png" alt="" class=""></div>
        </div>
        <div class="footer"></div>
    </div>
</body>
</html>